@max-width: 1080px;

body {
	height: inherit;
	background-color: white;
}

.body {
	max-width: @max-width;
}

.navigation {
	.inner {
		max-width: @max-width;
	}
}

.navigation-space {
	height: 2.5rem;
}

.container {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.header-section {
	margin-top: 80px;
}

.main-section {
	margin: 20px 0;
}

.login-section {
	max-width: 480px !important;
	margin: 0 auto;
}

.doc-body {
	line-height: 1.8rem;
}

.doc-meta {
	font-size: 12px;
	color: #999;
}

.center.aligned {
	text-align: center;
}

.footer {
	padding: 20px;
}

.sidebar-trigger {
	position: fixed !important;
	left: -4px;
	top: 100px;
}

.gray {
	color: #777 !important;
}